@function pxToVw($px) {
  @return ($px / 750) * 100vw;
}

/* 通用弹窗 */
.UniversalPopup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UniversalPopup__main {
  width: 500px;
  height: fit-content;
  min-height: 150px;
  background: #ffffff;
  box-shadow: 0px 10px 10px #0000001d;
  border: 1px solid #e2e2e2;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.UniversalPopup__main_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  svg path {
    color: #afafaf;
    transition: 0.5s;
  }
  &:hover svg path {
    color: #000;
    transition: 0.5s;
  }
}
.UniversalPopup__main_title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}
.UniversalPopup__main_desc {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}
.UniversalPopup__main_bar {
  display: none;
}
.UniversalPopup__main_btn {
  text-align: right;
  button {
    border: 0;
    outline: none;
    width: 123px;
    height: 40px;
    background: #0e45f5;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #000000;
      transition: 0.5s;
    }
  }
}
.UniversalPopup {
  &.success .UniversalPopup__main_title {
    color: #000000;
  }
  &.failed .UniversalPopup__main_title {
    color: #f56a2e;
  }
}
.UniversalPopup.processing .UniversalPopup__main_desc,
.UniversalPopup.processing .UniversalPopup__main_btn {
  display: none;
}
.UniversalPopup.processing {
  .UniversalPopup__main_bar {
    display: block;
    width: 100%;
    height: 11px;
    background: #ebf0ff;
    border-radius: 10px;
    position: relative;
  }
  .UniversalPopup__main {
    padding-top: 34px;
    .UniversalPopup__main_title {
      margin-bottom: 30px;
    }
  }
}
.UniversalPopup__main_process {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background: #0e45f5;
  border-radius: 10px 0px 0px 10px;
}

@media (max-width: 1199px) {
  .UniversalPopup__main {
    width: pxToVw(540);
    min-height: pxToVw(392);
    border-radius: 13px;
    box-sizing: border-box;
    padding: pxToVw(94) pxToVw(26) pxToVw(36) pxToVw(26);
  }
  .UniversalPopup__main_btn {
    text-align: center;
  }
  .UniversalPopup__main_title {
    text-align: center;
    font-size: pxToVw(36);
    margin-bottom: pxToVw(32);
  }
  .UniversalPopup__main_desc {
    text-align: center;
    font-size: pxToVw(28);
    margin-bottom: pxToVw(36);
  }
  .UniversalPopup__main_btn {
    button {
      width: pxToVw(243);
      height: pxToVw(76);
      border-radius: 4px;
      font-size: pxToVw(30);
    }
  }
  .UniversalPopup {
    &.processing {
      .UniversalPopup__main_bar {
        height: pxToVw(20);
      }
      .UniversalPopup__main {
        padding-top: pxToVw(79);
        min-height: pxToVw(231);
        .UniversalPopup__main_title {
          margin-bottom: pxToVw(30);
        }
      }
    }
  }
}
